.virsraksts {
    text-align: center;
    font-family: Arial, sans-serif;
}

#poga {
    display: block;
    margin-top: 10px;
    margin-left: 46%;
    width: 155px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}


}
.saraksts {
    text-align: center;
}
body {
    background-color: #b100f16e;
    font-family: 'Ubuntu', sans-serif;
}
#logs {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(43, 6, 33, 0.301);
    width: 203px;
    margin: -320px 0 0 -160px;
    padding: 45px;
    box-shadow: 0 0 3px rgb(255, 0, 0);
}
#Produkts {
    margin-top: -8x;
    margin-right: 200px;
    border-radius: 2px;
    opacity: 100%;
    width: 150px;
    text-align: center;
}
#Daudzums {
    border-radius: 2px;
    opacity: 100%;
    width: 78px;
    margin-left: 40px;
    margin-top: -200px;
    text-align: center;
}
#poga2 {
    cursor: pointer;
    text-align: center;
    margin-left: 25px;
    margin-top: 7px;
}
.virsraksts2 {
    margin-top: -30px;
    margin-left: -30px;
    opacity: 100%;
}
#saraksts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pirkums {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgba(224, 6, 206, 0.801);
    border-radius: 5px;
    height: 60px;
    width: 280px;
    background-color: rgba(255, 6, 172, 0.336);
    padding: 5px;
    margin: 15px;
}
h4 {
    margin-top: -15px;
}
h3 {
    margin-top: 5px;
}